<!DOCTYPE html>
<html>
<head>
    <title>kopana - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> kopana</a>
     {% if request.session.user %}
        <a class="btn btn-default navbar-btn" href="#">Jestes zalogowany jako:{{ request.session.login }}</a>
        <a class="btn btn-default navbar-btn" href="{% url 'logout' %}">Wyloguj się</a>
    {% else %}
        <a class="btn btn-default navbar-btn" href="{% url 'signIn' %}">Logowanie</a>
        <a class="btn btn-default navbar-btn" href="{% url 'signUp' %}">Rejestracja</a>
    {% endif %}
  </div>
</nav>
</div>
<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
