{% extends "base.html" %}
{% block title %}strona glowna{% endblock %}
{% block content %}
{% load add %}
<table class="table table-hover">
<tr>
<th>Runda</th>
<th>Edytuj</th>
<th>Usuń</th>
</tr>

{% for round in rounds %}
<tr>
    <td>
         <a href="#">
         {% if round.type %}
             Zimowa
         {% else %}
             Letnia
         {% endif %}
         </a>
    </td>
    <td>
        <a href="{% url 'updateround' round.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edytuj</a>
    </td>
    <td>
        <a href="{% url 'delround' round.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
 Usuń</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}